.jumbotron{
   background-color: #101010;
   background-size: cover;
   color: white;
   text-align: center;
   height: 50%;
}
#landing-section{
  margin-right: 2em;
  margin-left: 2em;
  animation: glowing 1300ms infinite;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 20px orange;
  }
  50% {
    box-shadow: 0 0 20px orange;
  }
  100% {
    box-shadow: 0 0 20px orange;
  }
}
.display-4 {
   /* background-size: cover; */
   color: #fff;
   font-family: var( --font-two);
   -webkit-animation: glow 1s ease-in-out infinite alternate;
   -moz-animation: glow 1s ease-in-out infinite alternate;
   animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0000FF, 0 0 40px #0000FF, 0 0 50px #0000FF, 0 0 60px #0000FF, 0 0 70px #0000FF;
   }
   to {
     text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
   }
 }
 .lead {
  /* background-size: cover; */
  color: #fff;
  font-family: var( --font-two);
  text-decoration: underline;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0000FF, 0 0 40px #0000FF, 0 0 50px #0000FF, 0 0 60px #0000FF, 0 0 70px #0000FF;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 60px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900;
  }
}
