#navbarNav{
    justify-content: flex-end;
}
#nav-content a:hover{
    background-color: #696969;
    border-radius: 10px;
}
#nav-logo{
    height: 30px;
    border: solid black 1px;
    padding: 2px;
    border-radius: 10px;
}
#navbar{
    opacity: .7;
    font-family: var(--font-two);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #D3D3D3;
}
