:root{
    --red: #e80d0d;
    --darkRed:#f20c0c;
    --orange: #f98500;
    --Opal: #C6D8D3;
    --papaya: #FDF0D5;
    --charcoal: #282A2a;
    --clay:#F8F9DD;
    --darkgre: #5c5c5c;
    --lightBrown:#d3874f;
    --brownWhite: #D8DCBF;

    --font-one: 'Raleway', sans-serif;
    --font-two: 'Special Elite', cursive;
}
